<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CICategoryTransition</key>
	<array/>
	<key>CICategoryColorEffect</key>
	<array>
		<dict>
			<key>CIColorCrossPolynomial</key>
			<string>颜色</string>
		</dict>
		<dict>
			<key>CIPhotoEffectProcess</key>
			<string>冲印</string>
		</dict>
		<dict>
			<key>CIPhotoEffectChrome</key>
			<string>铬黄</string>
		</dict>
		<dict>
			<key>CIPhotoEffectFade</key>
			<string>褪色</string>
		</dict>
		<dict>
			<key>CIPhotoEffectMono</key>
			<string>单色</string>
		</dict>
		<dict>
			<key>CIPhotoEffectTransfer</key>
			<string>岁月</string>
		</dict>
		<dict>
			<key>CIPhotoEffectTonal</key>
			<string>色调</string>
		</dict>
		<dict>
			<key>CIPhotoEffectNoir</key>
			<string>黑白</string>
		</dict>
		<dict>
			<key>CIPhotoEffectInstant</key>
			<string>怀旧</string>
		</dict>
	</array>
	<key>CICategoryBlur</key>
	<array>
		<dict>
			<key>CIBoxBlur</key>
			<string>均值模糊</string>
		</dict>
		<dict>
			<key>CIDiscBlur</key>
			<string>环形卷积模糊</string>
		</dict>
		<dict>
			<key>CIGaussianBlur</key>
			<string>高斯模糊</string>
		</dict>
	</array>
	<key>CICategoryColorAdjustment</key>
	<array/>
	<key>CICategoryCompositeOperation</key>
	<array/>
	<key>CICategoryDistortionEffect</key>
	<array/>
	<key>CICategoryGeometryAdjustment</key>
	<array/>
	<key>CICategorySharpen</key>
	<array/>
	<key>CICategoryStylize</key>
	<array/>
</dict>
</plist>
